/* Body.css */

.Body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .restrocard {
    width: 270px;
    height: auto; /* Add a fixed height to contain the content */
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start; /* Aligns all items to the left */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    border-radius: 5px;
    /* Body.css */
  
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides any overflow beyond the container */
    text-overflow: ellipsis; /* Displays "..." when the text overflows */
  }
  
  .restrocard img {
    width: 100%;
    height: 300px;
    height: auto;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .restrocard p {
    margin: 5px 5px 0 5px;
    padding: 0px 5px 0px 5px;
  }
  
  .restName {
    font-size: 18px;
    font-weight: 700;
  }
  
  /* ... Your existing styles ... */
  
  .rating-container {
    display: flex;
    margin-left: 10px;
    align-items: center; /* Aligns elements vertically within the container */
    /* You can adjust any other styles for the rating container as needed */
  }
  
  .rating-container p {
    /* Add some space between the star icon and the rating */
  }
  
  .restroheading {
    margin-left: 50px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #f5851f;
    border-radius: 4px;
    width: 400px;
    margin: 10px;
    margin-top: 18px;
    margin-left: 120px;
  }
  .restrosearch{
    display: flex;
  }

  .Search{
      height: 36px;
      margin-top: 18px;
      border-radius: 10px;
      border: 1px ;
      background-color: #f5851f;
      color:  white;
      padding: 0px 10px 0 10px;

  }